<div>

  <h3>Global Deployment Job Parameters</h3>

  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
      <h4 *ngIf="!adding">ID: {{environment.id}}

      <clr-icon shape="pencil" (click)="onEdit()" *ngIf="isDisabled()"></clr-icon>
      </h4>

      <form (ngSubmit)="onSubmit()" #configForm="ngForm">

        <section class="form-block">


          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Environment Name" disabled="{{readonly}}"
                   [(ngModel)]="environment.name"
                   name="envName" #envName="ngModel">
          </div>


          <div class="form-group">
            <label>Cloud Targets</label>

            <div class="checkbox-inline">
              <input type="checkbox" id="cloud_azure"
                     [value]="true"
                     [checked]="environment.typeAzure"
                     [(ngModel)]="environment.typeAzure"
                     name="cloudType_azure"
                     [disabled]="isDisabled()"
              >
              <label for="cloud_azure">Azure IOT Edge</label>
            </div>


            <div class="checkbox-inline">
              <input type="checkbox" id="cloud_greengrass"
                     [value]="true"
                     [checked]="environment.typeGG"
                     [(ngModel)]="environment.typeGG"
                     name="cloudType_greengrass"
                     [disabled]="isDisabled()"
              >
              <label for="cloud_greengrass">AWS GreenGrass</label>
            </div>

          </div>

          <div class="form-group" *ngIf="!isFaultToleranceDisabled()">
            <label>No Downtime Mode</label>


            <div class="checkbox-inline">
              <input type="checkbox" id="ft_nodown"
                     (click)="onRadioClickFaultToleranceType()"
                     [checked]="environment.ftNoDown"
                     [value]="true"
                     name="ftType"
                     [disabled]="isFaultToleranceDisabled()"
              >
              <label for="ft_nodown"></label>
            </div>
          </div>



          <div *ngIf="environment.typeAzure">
            <h3>Azure</h3>

            <div class="form-group">
              <label for="azure_cli_application_id">Azure CLI Application ID</label>
              <input type="text" id="azure_cli_application_id" placeholder="ID"
                     [(ngModel)]="environment.azure_cli_application_id"
                     name="envCLI"
                     #envCLI="ngModel"
                     disabled="{{readonly}}"
              />
            </div>


            <div class="form-group">
              <label for="azure_cli_application_key">Azure CLI Application Key</label>
              <input type="text" id="azure_cli_application_key" placeholder="Key"
                     [(ngModel)]="environment.azure_cli_application_key"
                     name="azure_cli_application_key"
                     #azure_cli_application_key="ngModel"
                     disabled="{{readonly}}"
              />
            </div>


            <div class="form-group">
              <label for="azure_cli_tenant_id">Azure CLI Tenant ID</label>
              <input type="text" id="azure_cli_tenant_id" placeholder="ID"
                     [(ngModel)]="environment.azure_cli_tenant_id"
                     name="azure_cli_tenant_id"
                     #azure_cli_tenant_id="ngModel"
                     disabled="{{readonly}}"
              />
            </div>

            <div class="form-group">
              <label for="azure_iot_hub_name">Azure IOT Hub Name</label>
              <input type="text" id="azure_iot_hub_name" placeholder="Hub Name"
                     [(ngModel)]="environment.azure_iot_hub_name"
                     name="azure_iot_hub_name"
                     #azure_iot_hub_name="ngModel"
                     disabled="{{readonly}}"
              />
            </div>

            <div class="form-group">
              <label for="azure_iot_group">Azure IOT Resource Group</label>
              <input type="text" id="azure_iot_group" placeholder="IOT Group"
                     [(ngModel)]="environment.azure_iot_group"
                     name="azure_iot_group"
                     #azure_iot_group="ngModel"
                     disabled="{{readonly}}"
              />
            </div>


          </div>

          <div *ngIf="environment.typeGG">
            <h3>GreenGrass</h3>
            <div class="form-group">
              <label for="aws_access_key">AWS Access Key</label>
              <input type="text" id="aws_access_key" placeholder="Key"
                     [(ngModel)]="environment.aws_access_key"
                     name="aws_access_key"
                     #aws_access_key="ngModel"
                     disabled="{{readonly}}"
              />
            </div>
            <div class="form-group">
              <label for="aws_secret_key">AWS Secret Key</label>
              <input type="text" id="aws_secret_key" placeholder="Secret"
                     [(ngModel)]="environment.aws_secret_key"
                     name="aws_secret_key"
                     #aws_secret_key="ngModel"
                     disabled="{{readonly}}"
              />
            </div>
            <div class="form-group">
              <label for="greengrass_s3_bucket">S3 Bucket</label>
              <input type="text" id="greengrass_s3_bucket" placeholder="Bucket"
                     [(ngModel)]="environment.greengrass_s3_bucket"
                     name="greengrass_s3_bucket"
                     #greengrass_s3_bucket="ngModel"
                     disabled="{{readonly}}"
              />
            </div>
            <div class="form-group">
              <label for="greengrass_device_stub">Device Stub</label>
              <input type="text" id="greengrass_device_stub" placeholder="Stub"
                     [(ngModel)]="environment.greengrass_device_stub"
                     name="greengrass_device_stub"
                     #greengrass_device_stub="ngModel"
                     disabled="{{readonly}}"
              />
            </div>
            <div class="form-group">
              <label for="greengrass_device_count">GreenGrass Group</label>
              <input type="text" id="greengrass_device_count" placeholder="IOT Group"
                     [(ngModel)]="environment.greengrass_device_count"
                     name="greengrass_device_count"
                     #greengrass_device_count="ngModel"
                     disabled="{{readonly}}"
              />
            </div>

          </div>

          <h3>Network</h3>


          <div class="form-group">
            <label for="ntpservers">NTP Servers</label>
            <input type="text" id="ntpservers" placeholder="IP List"
                   [(ngModel)]="environment.ntpservers"
                   name="ntpservers"
                   #ntpservers="ngModel"
                   disabled="{{readonly}}"
            />
          </div>


          <div class="form-group">
            <label for="dnsserver">DNS Server</label>
            <input type="text" id="dnsserver" placeholder="IP Address"
                   [(ngModel)]="environment.dnsserver"
                   name="dnsserver"
                   #dnsserver="ngModel"
                   disabled="{{readonly}}"
            />
          </div>
          <div class="form-group">
            <label for="dnsdomain">DNS Domain</label>
            <input type="text" id="dnsdomain" placeholder="Domain"
                   [(ngModel)]="environment.dnsdomain"
                   name="dnsdomain"
                   #dnsdomain="ngModel"
                   disabled="{{readonly}}"
            />
          </div>

          <div class="form-group">
            <label for="defaultgateway">Default Gateway</label>
            <input type="text" id="defaultgateway" placeholder="IP Address"
                   [(ngModel)]="environment.defaultgateway"
                   name="defaultgateway"
                   #defaultgateway="ngModel"
                   disabled="{{readonly}}"
            />
          </div>

          <div class="form-group">
            <label for="netmask">Netmask</label>
            <input type="text" id="netmask" placeholder="IP Mask"
                   [(ngModel)]="environment.netmask"
                   name="netmask"
                   #netmask="ngModel"
                   disabled="{{readonly}}"
            />
          </div>

          <h3>Edge</h3>

          <div class="form-group">
            <label for="c2e_edge_vm_basename">Edge</label>
            <input type="text" id="c2e_edge_vm_basename" placeholder="VM Basename"
                   [(ngModel)]="environment.c2e_edge_vm_basename"
                   name="c2e_edge_vm_basename"
                   #c2e_edge_vm_basename="ngModel"
                   disabled="{{readonly}}"
            />
          </div>


          <div class="form-group">
            <label for="c2e_edge_vm_network">Edge VM Network</label>
            <input type="text" id="c2e_edge_vm_network" placeholder="Network"
                   [(ngModel)]="environment.c2e_edge_vm_network"
                   name="c2e_edge_vm_network"
                   #c2e_edge_vm_network="ngModel"
                   disabled="{{readonly}}"
            />
          </div>



          <div class="form-group">
            <label for="c2e_edge_vm_ssh_priv_key">Edge SSH Private Key</label>
            <textarea id="c2e_edge_vm_ssh_priv_key" rows="5"
                      [(ngModel)]="environment.c2e_edge_vm_ssh_priv_key"
                      name="c2e_edge_vm_ssh_priv_key"
                      #c2e_edge_vm_ssh_priv_key="ngModel"
                      disabled="{{readonly}}"
            >

            </textarea>
          </div>

          <div class="form-group">
            <label for="c2e_edge_vm_ssh_pub_key">Edge SSH Public Key</label>
            <textarea id="c2e_edge_vm_ssh_pub_key" rows="5"
                      [(ngModel)]="environment.c2e_edge_vm_ssh_pub_key"
                      name="c2e_edge_vm_ssh_pub_key"
                      #c2e_edge_vm_ssh_pub_key="ngModel"
                      disabled="{{readonly}}"
            >

            </textarea>
          </div>

        </section>

        <button class="btn btn-primary" type=submit *ngIf="!isDisabled()">Save</button>

        <button type="button" class="btn btn-secondary" (click)="buttonCancel()">Cancel</button>

      </form>

    </div>
  </div>

</div>
