<div [hidden]="environments">No Data
  <a class="nav-link" [routerLink]="['/loadconfig/']">loaded</a>
  or configured
</div>


<h3>Deployment Environments
  <a class="nav-link" [routerLink]="['/environment/', 'new']">
    <clr-icon shape="plus"></clr-icon>
  </a>
</h3>

<div class="row">


  <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12" *ngFor="let env of environments">

    <div class="card">
      <div class="card-header">
        <a class="nav-link" [routerLink]="['/environment/', env.id]">{{ env.name }} ( {{env.id }})</a>


      </div>
      <div class="card-block">

        <div class="card-text">


          <form>
            <section class="form-block">
              <div class="form-group">
                <label for="aForm_1">Location</label>
                <input disabled type="text" id="aForm_1" value="{{ env.location}}">
              </div>
              <div class="form-group">

                <label for="aForm_2">Contact</label>
                <input disabled type="text" id="aForm_2" value="{{ env.contact}}">
              </div>


            </section>
          </form>
          <a class="nav-link" [routerLink]="['/environment/', env.id, 'vcenterlist']">vCenters</a>


        </div>
      </div>

    </div>


  </div>
</div>
