<div [hidden]="environments">No Data
  <a class="nav-link" [routerLink]="['/loadconfig/']">loaded</a>
  or configured
</div>

<div *ngIf="environments">

<clr-modal [(clrModalOpen)]="showDeleteDialog">
  <h3 class="modal-title">Confirm Delete</h3>
  <div class="modal-body">
    <p>Delete Environment: {{ selectedEnvironment.name}}  ({{selectedEnvironment.id}}) ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="showDeleteDialog = false">Cancel</button>
    <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="onDeleteConfirm()">Ok</button>
  </div>
</clr-modal>


<h3>Deployment Environments
  <a class="nav-link" [routerLink]="['/environment/', 'new']">
    <clr-icon shape="plus" style="cursor: pointer"></clr-icon>
  </a>
</h3>


<div class="row" >

  <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12" *ngFor="let env of environments">

    <div class="card" *ngIf="env">
      <div class="card-header">
        <a class="nav-link" [routerLink]="['/environment/', env.id]">{{ env.name }} ( {{env.id }})</a>
        <a class="nav-link" style="cursor: pointer" title="Export YAML" (click)="onExportYaml( env.id )">
          <clr-icon shape="download"></clr-icon>
        </a>
        <a class="nav-link" style="float: right; cursor: pointer" (click)="onShowConfirmDelete( env.id )">
          <clr-icon shape="trash"></clr-icon>
        </a>

      </div>
      <div class="card-block">

        <div class="card-text">


          <form>
            <section class="form-block">
              <div class="form-group">
                <label for="aForm_1">Location</label>
                <input disabled type="text" id="aForm_1" value="{{ env.location}}">
              </div>
              <div class="form-group">

                <label for="aForm_2">Contact</label>
                <input disabled type="text" id="aForm_2" value="{{ env.contact}}">
              </div>


            </section>
          </form>
          <a class="nav-link" [routerLink]="['/environment/', env.id, 'vcenterlist']">vCenters</a>


        </div>
      </div>

    </div>


  </div>



</div>

</div>
