<div class="main-container">
  <div class="alert alert-app-level">

  </div>

  <header class="header header-6">
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon vmw-logo"></span>
        <span class="title">Skyway</span>
      </a>
    </div>

    <div class="header-actions">
    </div>
  </header>

  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" routerLink="loadconfig">Load Config</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="exportConfig">Export</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="addvcenter">Add vCenter</a></li>
    </ul>
  </nav>


  <div class="content-container">
    <div class="content-area">
      <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
    </div>


    <nav class="sidenav">
      <section class="sidenav-content">
        <a routerLink="home" class="nav-link">Home</a>
        <section class="nav-group collapsible">
          <input id="configMenuSection" type="checkbox">
          <label for="configMenuSection">Config</label>
          <ul class="nav-list">
            <li><a class="nav-link" routerLink="vcenters">vCenters</a></li>
          </ul>
        </section>


      </section>
    </nav>

  </div> <!--End content-container-->


</div>
