


<div class="row">
  <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12"  *ngFor="let edge of edges">

    <div class="card">
      <div class="card-header">
        {{ edge.name }} ( {{edge.id }})


      </div>
      <div class="card-block">

        <div class="card-text">


          <!--<form>-->
          <!--<section class="form-block">-->

          <!--<div class="form-group">-->
          <!--<label for="aForm_1">Edges</label>-->
          <!--<input disabled="true" type="text" id="aForm_1"  value="{{ getEdgeCount(cluster.id)}}">-->
          <!--</div>-->


          <!--</section>-->
          <!--</form>-->


        </div>
      </div>

    </div>


  </div>
</div>
