<div>
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">

      <form (ngSubmit)="onSubmit()"  #configForm="ngForm">
        <section class="form-block">

          <div class="form-group">
            <label for="config">Configuration</label>
            <textarea id="config" rows="5" [(ngModel)]="configData" name="configuration" #configuration="ngModel"></textarea>
          </div>


        </section>
        <button class="btn btn-primary" type=submit >Load</button>

        <button type="button" class="btn btn-secondary"(click)="buttonExport()" disabled>Export</button>

        <button type="button" class="btn btn-secondary"(click)="buttonCancel()">Cancel</button>
      </form>

    </div>
  </div>
</div>
